.product {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  /* max-width: 400px; */
  min-width: 100px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-top: 65px;
}

.product__rating {
  display: flex;
}

.product__info {
  height: 10px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 15px;
}
.product > button {
  background: #fac14b;
  color: #111;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
